    .recommend_nodes_btn{
        color: #fff;
        background-color: #891919;
        border-color: #1c7430;
        border-radius: 0px;
        padding: 10px 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        transition: 350ms;
        letter-spacing: 1px;
        font-size: 13px;
        border: 1px solid transparent; }

    .recommend_nodes_btn:hover {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;}